{% extends "base.html" %}
{% load static %}
{% block title %}Daftar Penyewa{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>DAFTAR PEMILIK</h1>
            
            <br>
            <table id ="table2" class="table text-center table-hover ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID Pelanggan</th>
                  <th scope="col">No. KTP</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Alamat</th>
                  <th scope="col">Tanggal Lahir</th>
                  <th scope="col">No. HP</th>
                  <th scope="col">Email</th>
                  <th scope="col">Pekerjaan</th>
                  <th scope="col">Kategori</th>
                </tr>
              </thead>
              <tbody>
                {% for j in transaksi %}
                <tr>
                  <td>{{j.0}}</td>
                  <td>{{j.1}}</td>
                  <td>{{j.2}}</td>
                  <td>{{j.3}}</td>
                  <td>{{j.4}}</td>
                  <td>{{j.5}}</td>
                </tr>
               {% endfor %}
              </tbody>
            </table>

        
        </div>
    </div>
</div>

{% endblock %}
