{% extends "base.html" %}
{% load static %}
{% block title %}Transaksi{% endblock %}
{% block content %}
<style>
    body {
      background-image: url("https://images.wallpaperscraft.com/image/acrylic_paint_stain_137240_3840x2400.jpg");
    }
    h1 {
      color: white;
      text-align: center;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
</style>
<h1 style="font-size:5vw;">Masterpieces Ltd.</h1>


{% endblock %}
