{% extends "base.html" %}
{% load static %}
{% block title %}Transaksi{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>RIWAYAT TRANSAKSI</h1>
            <h5 style="text-align: right">TIPE : SEWA</h5>
            <br>
            <table id ="table2" class="table text-center table-hover ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Tanggal Sewa</th>
                  <th scope="col">No. Pelanggan</th>
                  <th scope="col">Jumlah Lukisan</th>
                  <th scope="col">ID Lukisan</th>
                  <th scope="col">Tenor</th>
                  <th scope="col">Lama Sewa</th>
                  <th scope="col">Alamat Tujuan</th>
                  <th scope="col">Ongkir</th>
                  <th scope="col">Total</th>
                  <th scope="col">Tanggal Kembali</th>
                  <th scope="col">Pembayaran</th>
                  <th scope="col">No. Staff</th>
                </tr>
              </thead>
              <tbody>
                {% for i in transaksi %}
                <tr>
                  <td>{{i.0}}</td>
                  <td>{{i.1}}</td>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>
                  <td>{{i.4}}</td>
                  <td>{{i.5}}</td>
                  <td>{{i.6}}</td>
                  <td>{{i.7}}</td>
                  <td>{{i.8}}</td>
                  <td>{{i.9}}</td>
                  <td>{{i.10}}</td>
                  <td>{{i.11}</td>
                </tr>
               {% endfor %}
              </tbody>
            </table>

        
        </div>
    </div>
</div>

{% endblock %}
