{% extends "base.html" %}
{% load static %}
{% block title %}Transaksi{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>DAFTAR MITRA BANK</h1>
            <br>
            <table id ="table2" class="table text-center table-hover ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Kode</th>
                  <th scope="col">Nama Bank</th>
                </tr>
              </thead>
              <tbody>
                {% for b in mitra_bank %}
                <tr>
                  <td>{{b.0}}</td>
                  <td>{{b.1}}</td>
                </tr>
               {% endfor %}
              </tbody>
            </table>

        
        </div>
    </div>
</div>

{% endblock %}
