{% extends "base.html" %}
{% load static %}
{% block title %}Transaksi{% endblock %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>RIWAYAT TRANSAKSI</h1>
            <h5 style="text-align: right">TIPE : FEE</h5>
            <br>
            <table id ="table2" class="table text-center table-hover ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Tanggal Terima</th>
                  <th scope="col">No. Pelanggan</th>
                  <th scope="col">ID Lukisan</th>
                  <th scope="col">Jumlah disewa</th>
                  <th scope="col">Harga Lukisan</th>
                  <th scope="col">Total FEE</th>
                </tr>
              </thead>
              <tbody>
                {% for j in transaksi %}
                <tr>
                  <td>{{j.0}}</td>
                  <td>{{j.1}}</td>
                  <td>{{j.2}}</td>
                  <td>{{j.3}}</td>
                  <td>{{j.4}}</td>
                  <td>{{j.5}}</td>
                </tr>
               {% endfor %}
              </tbody>
            </table>

        
        </div>
    </div>
</div>

{% endblock %}
