

{% extends 'base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}
 <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="input-group">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scop="col">Tipe_Anggota <i class="fa fa-sort-asc"></i></th>
            <th scop="col">Lukisan</th>
            <th scop="col">Keterlambatan</th>
            <th scop="col">Pengembalian</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-hoverisible">
            <th scope="row">Penyewa</th>
            <td>Starry_Night</td>
            <td>None</td>
            <td>02/02/19</td>
            
          </tr>
          <tr class="tr-hoverisible">
            <th scope="row">Pemilik</th>
            <td>Screaming_Man</td>
            <td>None</td>
            <td>02/02/19</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
          </ul>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
